<section id="about-us">
  <div class="container about-us-container">

    <div class="text-wrap-about-us">
      <h2 class="title-about-us">Про Меблерію</h2>
      <p class="descr-about-us">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>

    <div class="img-wrap-about-us">
    <picture class="img-about-us">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/about-us/about-us-dt-min.jpg    1x,
          /img/about-us/about-us-dt@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/about-us/about-us-tablet-min.jpg    1x,
          /img/about-us/about-us-tablet@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/about-us/about-us-mobile-min.jpg    1x,
          /img/about-us/about-us-mobile@2x-min.jpg 2x
        "
      />
      <img
        src="/img/about-us/about-us-dt-min.jpg"
        alt="our team"
        
      />
    </picture>
    </div>
  </div>
</section>
