<section class="feedback-container" id="feedback">
    <div class="container">
        <div class="fead-main">
            <h2 class="feed-head">Відгуки клієнтів</h2>
            <p class="what-say">
                Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
            </p>
        </div>

        <div class="feedback-wrapper">
            <div class="swiper ">

                <div class="swiper-wrapper" id="feedback-list"></div>
                <div class="common-button-dots">
                    <div class="swiper-pagination"></div>

                    <div class="buttons-wrapper">
                        <button class="swiper-button-prev" aria-label="Назад">

                            <svg class="nav-icon" width="48" height="48" role="img" aria-hidden="true">
                                <use class="icon" href="./img/sprite.svg#icon-left-arrow-alt"></use>
                            </svg>
                        </button>

                        <button class="swiper-button-next" aria-label="Вперед">
                            <svg class="nav-icon" width="48" height="48" role="img" aria-hidden="true">
                                <use href="./img/sprite.svg#icon-right-arrow-alt"></use>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="https://kit.fontawesome.com/e0c5349370.js" crossorigin="anonymous"></script>