<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer-logo">
      <svg class="footer-socials-icon" width="221" height="49">
        <use href="/img/sprite.svg#icon-mebleriya"></use></svg>
    </a>
    <div class="footer-wrap-container">
      <div class="footer-list-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#furniture">Наші меблі</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#about-us">Про нас</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#faq">Часті питання</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#feedback">Відгуки</a>
          </li>
        </ul>
        <ul class="footer-socials-list">
          <li class="footer-socials-list-item">
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="img/sprite.svg#icon-Youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
              <svg class="footer-socials-icon icon-current" width="24" height="24">
                <use href="img/sprite.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-Facebook"></use></svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-text">&copy; 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>