<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button class="modal-close-btn" type="button" data-modal-close>
                <svg class="modal-close-icon" width="32" height="32">
                    <use href="../img/sprite.svg#icon-x"></use>
                </svg>
            </button>
            <p class="modal-title">Замовити зворотний<br>зв'язок</p>
            <form class="modal-form">
                <label class="modal-label" for="user-name">Ім'я*
                    <input class="modal-input" type="text" name="user-name" id="user-name" placeholder="Дмитро"
                        pattern="[a-zA-Zа-яА-ЯіІїЇєЄ']+" minlength="2" required />
                </label>
                <label class="modal-label" for="user-phone">Телефон*
                    <input class="modal-input" type="tel" name="user-phone" id="user-phone"
                        placeholder="+38 (099) 123 22 11" pattern="^\+?3?8?(0\d{9})$" title="+380xxxxxxxxx" required />
                </label>
                <label class="modal-label" for="user-comment">Коментар
                    <textarea class="modal-textarea" name="user-comment" id="user-comment"
                        placeholder="Type your message..."></textarea>
                </label>
                <button class="modal-submit-btn" type="submit">Надіслати заявку</button>
            </form>
        </div>
    </div>
    <script src ="../js/order-modal.js"></script>
    <script src="../js/order-modal-form.js"></script>
</body>

</html>