<div class="backdrop-modal" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal-title">Замовити зворотний<br />зв'язок</p>
    <form class="modal-form">
      <label class="modal-label" for="user-email">Email*
        <input class="modal-input" type="email" name="user-email" id="user-email" placeholder="Дмитро" minlength="2"
          required />
      </label>
      <label class="modal-label" for="user-phone">Телефон*
        <input class="modal-input" type="tel" name="user-phone" id="user-phone" placeholder="+38 (099) 123 22 11"
          pattern="\+380\d{9}" title="+380xxxxxxxxx" required />
      </label>
      <label class="modal-label" for="user-comment">Коментар
        <textarea class="modal-textarea" name="user-comment" id="user-comment"
          placeholder="Type your message..."></textarea>
      </label>
      <button class="modal-submit-btn" type="submit">
        Надіслати заявку
      </button>
      <input type="hidden" name="furnitureId" id="furnitureId" />
      <input type="hidden" name="color" id="color" />
    </form>
  </div>
</div>

