.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.wrapper_category,
.special-category {
  position: relative;
}
.text_category {
  position: absolute;
  top: 50%;
  right: 50%;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  transform: translate(50%, -50%);
}
.img_category {
  width: 166px;
  height: 122px;
}
.category-item {
  border-radius: 8px;
}
