/* mobile */

.hero {
    background-image: url("../img/hero/bg-mob.jpg");
    background-size: cover;
    background-position: center;
}

.hero-container {
    padding-top: 156.5px;
    padding-bottom: 157.5px;
    padding-left: 19.5px;
    padding-right: 20.5px;
}

.hero-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #fff;

    margin-bottom: 24px;
}

.hero-subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;        
    line-height: 1.6;
    color: #fff;

    margin-bottom: 32px;
}

.hero-button {
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;

    border-radius: 100px;
    text-align: center;

    padding: 10px 24px;

    width: 100%;
    max-width: 335px;
    height: 46px;

    background: #6b0609;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    
}

/* tablet */

@media (min-width: 768px) {
    .hero {
        background-image: url("../img/hero/bg-tab.jpg");
        background-size: cover;
        background-position: center;
    }

    .hero-container {
        padding-top: 36px;
        padding-bottom: 37px;
        padding-left: 31.5px;
        padding-right: 32.5px;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-subtitle {
        font-size: 18px;
    }
}

/* desctop */

@media (min-width: 1200px) {
    .hero {
        background-image: url("../img/hero/bg-desc.jpg");
        background-size: cover;
        background-position: center;
    }

    .hero-container {
        padding-top: 92px;
        padding-bottom: 92px;
        padding-left: 63px;
        padding-right: 65px;
    }
}